html {
  background-color: lightyellow;
}

body {
  max-width: 800px;
  margin: 0 auto 0 auto;
}

.circle {
  cursor: pointer;
  opacity: 0.5;
  width: 100px;
  margin: 10px;
  transition: opacity 0.5s;
}

#modal1 {
  width: 350px;
  text-align: left;
  background-color: coral;
  color: whiteSmoke;
  padding: 30px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

#modal3 {
  width: 450px;
  text-align: center;
  background-color: cadetBlue;
  color: whiteSmoke;
  padding: 30px;
  font-family: Helvetica, sans-serif;
/*  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
*/}

img:hover {
  opacity: 1;
}

.tableBox {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

td {
  padding: 10px;
}

.gestures {
  margin: 0 auto;
  font: bold 25px Helvetica, sans-serif;
  text-align: center;
}